body {
  background-image: url(../images/background.png);
  background-blend-mode: multiply;
  background-color: #F6F6F6;
  background-size: 900px 700;
  position: relative;
  background-repeat: repeat-y;
}
#navbar {
  background: #C6C6C6;
  width: 100%;
  min-height: 45px;
  margin: 0;
  overflow: hidden;
  margin-top: -8px;
}
#navbar ul {
  list-style: none;
}
#navbar li {
  display: inline;
}
#navbar a {
  color: #9250A2;
  padding-right: 50px;
  font-size: 17px;
  font-weight: 600;
  margin-top: 6px;
  padding-bottom: 8px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-family: Poppins;
}
.subhead {
  color: #4A4848;
  font-weight: 450;
  margin-left: 100px;
  margin-top: 70px;
  margin-bottom: 0;
  font-size: 24px;
  font-family: Poppins;
}
.head_name {
  color: #41838B;
  margin-left: 200px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 75px;
  font-family: Poppins;
}
.undername {
  color: #4A4848;
  font-weight: 450;
  margin-left: 330px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-family: Poppins;
}
.about_me {
  color: #4A4848;
  width: 750px;
  font-size: 17px;
  font-family: Poppins;
  margin-left: 150px;
  margin-top: 100px;
  background-color: #F6F6F6;
  padding: 3px;
}
.info p {
  color: #4A4848;
  font-family: Poppins;
  background: #F6F6F6;
}
.name {
  margin-top: -400px;
  margin-bottom: -5px;
  margin-left: 1100px;
}
.email {
  margin-left: 1100px;
}
.photo {
  height: 450px;
  width: 450px;
  border: 1px solid #000;
  margin-top: 60px;
  margin-left: 1030px;
}
.fig {
  font-family: Poppins;
  font-size: 13px;
  margin-left: 1030px;
  margin-top: -1px;
  margin-bottom: 70px;
}
.fig_bold {
  font-weight: 600;
}
.fig_italic {
  font-style: italic;
}