body {
    background-image: url(../images/background.png);
    background-repeat: repeat-y;
    background-size: 900px 700;
    position: relative;
    background-blend-mode: multiply;
    background-color: #F6F6F6;
}
  
#navbar {
    background: #C6C6C6;
    width: 100%;
    min-height: 45px;
    margin: 0;
    overflow: hidden;
    margin-top: -8px;
}
  
#navbar ul {
    list-style: none;
}
  
#navbar li {
    display: inline;
}
  
#navbar a {
    color: #9250A2;
    padding-right: 50px;
    font-size: 17px;
    font-weight: 600;
    margin-top: 6px;
    padding-bottom: 8px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-family: Poppins;
}
.diff {
    float: left;
    width: 50%;
    box-sizing: border-box;
    color: #4A4848;
    font-family: Poppins;
}
.subhead {
    color: #41838B;
    text-decoration: underline;
    font-family: Poppins;
    margin-top: 80px;
    margin-left: 250px;
    font-size: 40px;
    margin-bottom: 100px;
}
.text p {
    min-width: 60%px;
    margin-left: 150px;
    margin-top: 50px;
    font-size: 17px;
    margin-bottom: 50px;
    background-color: #F6F6F6;
}
.p2 {
    min-width: 650px;
    margin-left: 150px;
    margin-top: -180px;
    font-size: 17px;
    margin-bottom: 50px;
    background-color: #F6F6F6;
}
.p3 {
    min-width: 650px;
    margin-left: 150px;
    margin-top: 90px;
    font-size: 17px;
    background-color: #F6F6F6;
}

.big5 {
    width: 550px;
    height: 250px;
    border: 1px solid #000;
    background-image: url(../images/big_5.png);
    margin-top: -100px;
    margin-left: 970px;
}
.briggs {
    width: 300px;
    height: 550px;
    border: 1px solid #000;
    background-image: url(../images/myers_briggs.png);
    margin-left: 1200px;
    margin-top: -320px;
}
.lstyle {
    width: 400px;
    height: 250px;
    border: 1px solid #000;
    background-image: url(../images/learning_style.png);
    margin-left: 1050px;
    margin-top: -1300px;
}
.fig {
    font-family: Poppins;
    font-size: 13px;
    margin-left: 970px;
    margin-top: -18px;
    margin-bottom: 50px;
    width: 350px;
}
.fig2 {
    font-family: Poppins;
    font-size: 13px;
    margin-left: 1200px;
    margin-top: -18px;
    margin-bottom: 50px;
    width: 300px;
}
.fig3 {
    font-family: Poppins;
    font-size: 13px;
    margin-left: 1050px;
    margin-top: -18px;
    width: 400px;
    margin-bottom: 1030px;
}
.fig_bold {
    font-weight: 600;
}
.fig_italic {
    font-style: italic;
  }