body {
    background-image: url(../images/background.png);
    background-repeat: repeat-y;
    background-size: 900px 700;
    position: relative;
    background-color: #F6F6F6;
    background-blend-mode: multiply;
}
  
#navbar {
    background: #C6C6C6;
    width: 100%;
    min-height: 45px;
    margin: 0;
    overflow: hidden;
    margin-top: -8px;
}
  
#navbar ul {
    list-style: none;
}
  
#navbar li {
    display: inline;
}
  
#navbar a {
    color: #9250A2;
    padding-right: 50px;
    font-size: 17px;
    font-weight: 600;
    margin-top: 6px;
    padding-bottom: 8px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-family: Poppins;
}
.subhead {
    color: #41838B;
    font-family: Poppins;
    text-decoration: underline;
    margin-top: 80px;
    margin-left: 250px;
    font-size: 30px;
    margin-bottom: 100px;
}
.name {
    font-family: Poppins;
    margin-left: 130px;
    margin-bottom: -2px;
    background: #F6F6F6;
}
.link {
    color: #9250A2;
    margin-left: 130px;
    background: #F6F6F6;
    margin-bottom: 40px;
}
.walter {
    margin-bottom: 100px;
}