body {
  background: #0e424060;
  background-image: url(../assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

.cv {
  width: 90%;
  max-width: 950px;
  background: #999999;
  margin: 40px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#navbar {
  background: #76c7ac;
  overflow: hidden;
}

#navbar li {
  display: inline;
}

#navbar a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: black;
  border-radius: 100vh;
  padding: 0.1rem;
  text-align: center;
  font-family: poppins;
  font-size: 17px;
  font-weight: 500;
  width: 15%;
  border: 2px solid #aa9ebb;
  background: #aa9ebb;
}

#navbar a:hover {
  background: #9d26a1;
  border: 2px solid #9d26a1;
  color: white;
  box-shadow: 0 0 2em #9d26a1;
}

img {
  box-shadow: 0 0 1em #9d26a1;
}

.mainarea {
  padding: 15px 30px;
  background: hsl(0, 0%, 82%);
}
.subheading {
  margin-top: 2em;
  margin-left: 2em;
}

.head_name {
  margin-top: -0.1rem;
}

.text {
  font-family: poppins;
}

.text p {
  margin-bottom: 20px;
  float: left;
  width: 60%;
}

.text h1 {
  margin-right: 500px;
  float: left;
  font-weight: 600;
  font-size: 45px;
  margin-left: 10%;
}

.text .name {
  float: right;
  margin-top: -70px;
  width: 35%;
}

.text a {
  text-decoration: none;
  margin-top: 40px;
  display: inline-block;
  text-align: center;
  margin-left: 45%;
  margin-right: 45%;
  margin-bottom: 15px;
  border: 2px solid #aa9ebb;
  background: #aa9ebb;
  color: black;
  padding: 0.1rem;
  border-radius: 100vh;
}

.text a:hover {
  background: #9d26a1;
  color: white;
  border: 2px solid #9d26a1;
  box-shadow: 0 0 2em #9d26a1;
}

.text .p1 {
  width: 100%;
}

.text .headshot {
  position: relative;
  float: right;
  height: 330px;
  border: 0.25em solid #9d26a1;
  border-radius: 2em;
  margin-right: 2rem;
}

.text .heavy {
  float: right;
  width: 37%;
  margin-top: -420px;
  position: relative;
  border: 0.25em solid #9d26a1;
  border-radius: 2em;
}

.text .tests {
  position: relative;
  float: right;
  right: 15%;
  top: 1em;
  border: 0.25em solid #9d26a1;
  border-radius: 2em;
}

.text .spacex {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: -1rem;
}

.text .snapshot {
  float: right;
  width: 38%;
  border: 0.25em solid #9d26a1;
  border-radius: 2em;
  margin-top: -47em;
}

.text .horsehead {
  position: relative;
  border: 0.25em solid #9d26a1;
  width: 100%;
}

.text .drag {
  position: relative;
  border: 0.25em solid #9d26a1;
  border-radius: 2em;
  float: right;
  width: 35%;
  margin-top: 3em;
}

.text .mount {
  position: relative;
  border: 0.25em solid #9d26a1;
  border-radius: 2em;
  float: right;
  margin-top: 3em;
}

.text .ard {
  position: relative;
  border: 0.25em solid #9d26a1;
  border-radius: 2em;
  float: right;
  width: 35%;
  margin-top: 8em;
}
/*# sourceMappingURL=style.css.map */
